    <div class="span4">
      <strong>Strahovatel:</strong>
      <div id="strahovatel_fields" class="well">
      </div>
    </div>
    <div class="span4">
      <strong>Zastrahovanniy:</strong>
      <div id="zastrahovanniy_fields" class="well">
      </div>
    </div>