    <div class="span4">
      <strong>Strahovatel:</strong>
      <div id="insurant_fields" class="well">
      </div>
    </div>
    <div class="span4">
      <strong>Zastrahovanniy:</strong>
      <div id="insured_fields" class="well">
      </div>
    </div>