<h1>Policies</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th>Number</th>
    <th>Date</th>
    <th>Date begin</th>
    <th>Date end</th>
    <th>Strahovatel</th>
    <th>Zastrahovanniy</th>
    <th>Cost</th>
    <th>IKP</th>
    <th></th>
  </tr>
 
<%= render @contracts %>

</table>
<%= will_paginate %>
<br>
 
<%= link_to "New policy", new_contract_path %>
