<% if @contract.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@contract.errors.count, "error") %>.
    </div>
    <ul class="alert-error">
    <% @contract.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>