@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayLight: #999;

body {
    background-color: #cccccc;
    display: block;    
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.input-small.filter {
    font-size: 12px;
    padding: 1px;
}

.btn.btn-small.add-on {
    font-size: 12px;
    padding: 1px;
}

#filter-row td {
    padding: 1px; 
}