<tr>
    <td><%= organization.name %></td>
    <td><%= link_to organization.people.count, "#", class: "btn" %></td>
    <td>
      <%= link_to "Edit", edit_organization_path(organization), class: "btn" %>
      <% if organization.people.count == 0 %> 
        <%=  link_to "Remove", organization, method: :delete, class: "btn", data: { confirm: "Are you sure?" } %>
      <% end %>    
    </td>
</tr>