<tr>
    <td><%= link_to organization.name, edit_organization_path(organization) %></td>
    <td><a class="btn" href="#"><%=  organization.contracts.count %></a> </td>
    <td>
    <% if organization.contracts.count == 0 %> 
      <%=  link_to "Remove", organization, method: :delete, class: "btn", data: { confirm: "Are you sure?" } %>
      <% end %>    
    </td>
</tr>