<h1>Organizations</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Workers count</th>
    <th></th>
  </tr>
 
<%= render @organizations %>

</table>
<%= will_paginate %>
<br>
 
<%= link_to "Add organization", new_organization_path, class: "btn" %>
